.rundKant {
  border-radius: 5px;
}

.diagram {
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bilder {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.bilder:hover {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.farge {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.farge:hover {
  fill: green;
}
